<p>
  <strong>Name of Park:</strong>
  <%= @park.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @park.description %>
</p>

<p>
	<strong>Description:</strong>
  <%= @ranger.ranger_ids %>
</p>

<%# <%= link_to 'Back', root_path %>
<%# <%= link_to 'Edit', edit_article_path(@article) %> %> %>