<p>
  <strong>Name of Park:</strong>
  <%= @park.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @park.description %>
</p>

<p>
  <strong>Rangers:</strong>
</p>

 <% @ranger.each do |ranger| %>
    <tr>
      <td><%= ranger.name %></td>
      <%# <td><%= link_to 'Show', edit_article_path(article)%>
    </tr>
  <% end %>

<%# <%= link_to 'Back', root_path %>
<%# <%= link_to 'Edit', edit_article_path(@article) %>