<p>
  <strong>Ranger Name:</strong>
  <%= @ranger.name.capitalize %>
</p>

<p>
  <strong>Parks under this ranger's care:</strong>


 <% @park.each do |park| %>
    <tr>
      <td><%= park.name.capitalize %></td>
		</tr>
  <% end %>
  <%# <%= @article.text %>
</p>

<%= link_to 'Back', root_path %>
<%# <%= link_to 'Edit', edit_article_path(@article) %>